.h-screen {
  min-height: 100vh;
}

.text-red-500 {
  color: red;
}

.text-bolder {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.w-screen {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.bg-dark {
  background-color: #1f1f1f;
}

.ml-1 {
  margin-left: 2rem;
}
